<ion-view title="'Category'" left-buttons="leftButtons" right-buttons="rightButtons" hide-nav-bar="true">
    <ion-content has-header="false">
        <div class="row">
            <div class="col text-center"><img style="width: 100%" src="https://lh6.ggpht.com/tdoGzgEEfrzW26sPxxsTY-7572z8G9cQbU_1b9UP8670DpVc76G2NxOZQwCGdGnB2oYC=w300"></div>
            <div class="col text-center"><img style="width: 100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvl_Y1FwYHSUhEnHex1QwpBkBQIhMyNiECPcPhkOdDw6Z55E_o"></div>
        </div>
        <div class="row">
            <div class="col text-center"><img style="width: 100%" src="https://lh3.googleusercontent.com/SwedkXoGe-qcP2-NMYSPt00NdrtVnPeXXTG4gbndKkDPfPHNxSMJo7pmoI6KtRJeJ7Om=w300"></div>
            <div class="col text-center"><img style="width: 100%" src="https://is4-ssl.mzstatic.com/image/thumb/Purple117/v4/82/40/4c/82404c94-06a6-e0bc-470d-9a93a89f76e0/source/1200x630bb.jpg"></div>
        </div>
        <div class="row">
            <div class="col text-center"><img style="width: 100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRokZfIiRA9OWPkoMbIg6obLr7vBuqR6Er_BrvuejcvstS7sbP6mw"></div>
            <div class="col text-center"><img style="width: 100%" src="https://appsftw.com/im/is1.mzstatic.com/image/thumb/Purple60/v4/f7/87/0e/f7870e86-a6df-61b1-9029-6f0cd1afe1cb/source/512x512bb.jpg"></div>
        </div>
        <div class="row">
            <div class="col text-center"><img style="width: 100%" src="http://images.techhive.com/images/article/2016/12/grids-for-instagram-4.0-app-icon-100700658-orig.jpg"></div>
            <div class="col text-center"><img style="width: 100%" src="https://us.123rf.com/450wm/turr17/turr171408/turr17140800704/31158496-camera-like-instagram-icon-with-flat-design-in-blue-circle-with-long-shaddow.jpg?ver=6"></div>
        </div>
    </ion-content>
</ion-view>
